<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.juefeng.sdk.juefengsdk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application  android:name="com.juefeng.sdk.juefengsdk.JfApplication">
       <activity android:name="com.juefeng.sdk.juefengsdk.ui.activity.JfUnityActivity"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
			android:exported="true"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.juefeng.sdk.juefengsdk.ui.activity.InitdataActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.juefeng.sdk.juefengsdk.ui.activity.PayActivity"
            android:configChanges="orientation|navigation|screenSize|keyboard|keyboardHidden"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.juefeng.sdk.juefengsdk.ui.activity.WebViewActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="landscape" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.PayResultActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.AlipayResultActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5OpenAuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity android:name="com.juefeng.sdk.juefengsdk.ui.activity.JfWelfareActivity" />
		<meta-data
            android:name="unityplayer.UnityActivity"
            android:value="true" />
        <meta-data
            android:name="JF_APPID"
            android:value="81205" />
        <meta-data
            android:name="JF_APPKEY"
            android:value="1F9A13ECF1554762D54F149286D8AD48" />
    </application>

</manifest>